<div class="row feed"> 
	<div class="col-md-4">
		<div ng-hide="currentUser">
			<h4> Login </h4>
			<br>
			<input type="text" size="30" placeholder="Username" ng-model="username">
			<br><br>
			<input type="Password" size="30" placeholder="Password" ng-model="password">
			<br><br>
			<button type="button" ng-click="signin()">Sign in</button>
			<br><br>
			<a href="#!/signup"> Not a member? Sign Up ! </a>
		</div>
		<div ng-show="currentUser">
			Hello, {{currentUser}}. Welcome to your Mittens Page !
		</div>
	</div>
	<div class="col-md-8">
		<div class = "new-meow">
			<input type="text" class="form-control"  ng-model="newMeow" placeholder="Enter New Meow!">
			<br>
			<button class="btn" type="button" ng-click="submitNewMeow()">Submit</button>
		</div>
		<h3 ng-repeat="meow in meows">
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
			{{meow.text}}
			<a href ng-click="removeMeow(meow)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
		<!--
		</h3>
		<h3>
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
			Whistle podu @!
		</h3>	
		<h3>
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
			IPL 2018, we are back !
		</h3>
		<h3>
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
			Chepauk, here we come xD
						-->
		</h3>
	</div>
</div>